<div class="container">
  <div class="row">
    <p class="display-4 alert alert-warning text-center">TakenService Information</p>
    <div class="col-4">
      <form (ngSubmit)="postTakenService()" class="bg-info">
        <div>
          <label for="takenServiceName">TakenService Name</label>
          <input type="text" id="takenServiceName" name="takenServiceName" [(ngModel)]="PostTakenService.takenServiceName" class="form-control" required>
        </div>
        <div>
          <label for="date">Date</label>
          <input type="date" id="date" name="date" [(ngModel)]="PostTakenService.date" class="form-control" required>
        </div>
        <div>
          <label for="patientID">Patient ID</label>
          <input type="text" id="patientID" name="patientID" [(ngModel)]="PostTakenService.patientID" class="form-control" required>
        </div>
        <div>
          <label for="price">Price</label>
          <input type="number" id="price" name="price" [(ngModel)]="PostTakenService.price" class="form-control" required>
        </div>
        <div>
          <label for="isComplete">IsComplete</label>
          <input type="checkbox" id="isComplete" name="isComplete" [(ngModel)]="PostTakenService.isComplete">
        </div>
        <div>
          <label for="paidAmount">Paid Amount</label>
          <input type="number" id="paidAmount" name="paidAmount" [(ngModel)]="PostTakenService.paidAmount" class="form-control" required>
        </div>
        <label for="due">Due</label>
        <input type="text" id="due" name="due" [(ngModel)]="PostTakenService.due" class="form-control" [value]="PostTakenService.due" disabled>
        <div class="offset-5 mt-1">
          <button type="submit" class="btn btn-outline-info text-black">SAVE</button>
        </div>
      </form>
    </div>
    <div class="col-8">
      <table class="table table-bordered">
        <thead class="table table-info">
          <tr>
            <th>TakenService Name</th>
            <th>Date</th>
            <th>patientID</th>
            <th>price</th>
            <th>isComplete</th>
            <th>paidAmount</th>
            <th>due</th>

            <th>ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ok of TakenServices">
            <td>{{ok.takenServiceName}}</td>
            <td>{{ok.date}}</td>
            <td>{{ok.patientID}}</td>
            <td>{{ok.price}}</td>
            <td>{{ok.isComplete}}</td>
            <td>{{ok.paidAmount}}</td>
            <td>{{ok.due}}</td>
            <!--<td class="text-center">
              <a (click)="PopulateService(ok)" class="btn btn-primary mr-5">EDIT</a>
              <a (click)="ServiceDelete(ok.ServiceID)" class="btn btn-danger">DELETE</a>
            </td>-->
          </tr>
        </tbody>
        <!--<div class="subtotal">
          <p>Total Price Amount (Subtotal Price Amount): {{ calculateSubtotalPriceAmount() | currency }}</p>
        </div>

        <div class="subtotal">
          <p>Total Paid Amount (Subtotal Paid Amount): {{ calculateSubtotalPaidAmount() | currency }}</p>
        </div>

        <div class="subtotal">
          <p>Total Due (Subtotal Due): {{ calculateSubtotalDue() | currency }}</p>
        </div>-->
      </table>
    </div>
  </div>

</div>
<!--<div class="container">
  <h2>Add a New Service</h2>-->
<!-- Your form content here -->
<!-- Display Subtotal Price Amount, Subtotal Paid Amount, and Subtotal Due -->
<!--<div class="subtotal">
    <p>Total Price Amount (Subtotal Price Amount): {{ calculateSubtotalPriceAmount() | currency }}</p>
  </div>

  <div class="subtotal">
    <p>Total Paid Amount (Subtotal Paid Amount): {{ calculateSubtotalPaidAmount() | currency }}</p>
  </div>

  <div class="subtotal">
    <p>Total Due (Subtotal Due): {{ calculateSubtotalDue() | currency }}</p>
  </div>
</div>-->
<!--<div class="container">
  <h2>Add a New Service</h2>
  <form (ngSubmit)="postTakenService()" class="bg-info">
    <div class="form-group">
      <label for="takenServiceName">TakenService Name</label>
      <input type="text" id="takenServiceName" name="takenServiceName" [(ngModel)]="PostTakenService.takenServiceName" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="date">Date</label>
      <input type="date" id="date" name="date" [(ngModel)]="PostTakenService.date" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="patientID">Patient ID</label>
      <input type="text" id="patientID" name="patientID" [(ngModel)]="PostTakenService.patientID" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input type="number" id="price" name="price" [(ngModel)]="PostTakenService.price" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="isComplete">IsComplete</label>
      <input type="checkbox" id="isComplete" name="isComplete" [(ngModel)]="PostTakenService.isComplete">
    </div>
    <div class="form-group">
      <label for="paidAmount">Paid Amount</label>
      <input type="number" id="paidAmount" name="paidAmount" [(ngModel)]="PostTakenService.paidAmount" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="due">Due</label>
      <input type="text" id="due" name="due" [(ngModel)]="PostTakenService.due" class="form-control" [value]="PostTakenService.due" disabled>
    </div>
    <button type="submit" class="btn btn-primary">Add Service</button>
  </form>

</div>-->
